<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons collapse="true" slot="end" (click)="toggleShowBookmarks()">
      <ion-button>
        <ion-icon *ngIf="toggleBookmarkFilter" name="bookmarks" color="danger"></ion-icon>
        <ion-icon *ngIf="!toggleBookmarkFilter" name="bookmarks-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Hotels</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hotels</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
      <ion-item *ngFor="let hotel of hotelsDisplayed;">
        <ion-label>
          <h2>{{ hotel.id }}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  
</ion-content>
